.wrapperContainer {
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: center;
  margin-top: 10px;
}

.displayContainer {
  background-color: black;
  height: 200px;
  width: 586px;
  border: 8px solid blueviolet;
}
