@font-face {
  font-family: "ModeSeven";
  src: url("./fonts/modeseven.ttf") format("truetype");
}

body {
  margin: 0;
  font-family: "ModeSeven";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
  color: white;
}
