.main {
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: center;
  margin-top: 10px;
}

.container {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 600px;
  gap: 10px;
}

.firstContainer {
  width: 50%;
  overflow: hidden;
  display: flex;
  justify-content: center;
}

.profileImage {
  width: 100%;
  height: auto;
}

.secondContainer {
  width: 50%;
}

.wrapperContainer {
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: center;
  margin-top: 10px;
}

.displayContainer {
  background-color: black;
  height: 200px;
  width: 586px;
  border: 8px solid blueviolet;
}

.dividerWrapper {
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: center;
  margin-top: 10px;
}
.divider {
  background-color: red;
  width: 600px;
  height: 4px;
}
